.verde_marca {
    color: #57FA62;
}
.verde_marca-bg{
    background-color:#57FA62;
}
.verde_escuro-marca {
    color:#45AD4C;
}
.verde_escuro-marca-bg{
   background-color:#45AD4C;
}
.laranja_marca {
    color: #FA6B4B;
}
.laranja_marca-bg{
    background-color:#FA6B4B;
}
.azul_escuro-marca {
    color: #009FE3;
}
.azul_escuro-marca-bg{
    background-color: #009FE3;
}
.azul-marca {
    color: #155A9E;
}
.azul_marca-bg{
   background-color: #155A9E; 
}
.bege_marca {
    color:#F5F6FA;
}
.bege_marca-bg {
    background-color: #F5F6FA;
}
.section-1 {
    background-color: #155A9E;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-1_div-1 {
    display: flex;
    justify-content: space-between;
}
.section-1_div-text {
    width: 50%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    transition: ease all 1s;
}
.section-1_div-svg img {
    width: 400px;
    transition: ease all 1s;
}
.section-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-2_div-1 {
    justify-content: space-between;
}
.section-2_div-2 h1{
    color: #155A9E;
    margin-bottom: 50px;
}
.section-2_div-2 img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.section-2_div-svg {
    width: 50%;
    display: flex;
    align-items: center;
}
.section-2_div-svg img {
    width: 420px;
    height: 420px;
}
.section-2_div-2 {
    width: 50%;
}
.section-2 p {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 20px;
}
.div-maodoc-svg, .div-relogio-svg, .div-mao-svg {
    margin-bottom: 32px;
}
.btn-login {
    width: 269px;
    height: 67px;
    background-color: #155A9E;
    border-radius: 33px;
    border: none;
    margin-top: 50px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-login:hover {
    color: #155A9E;
    background-color: #FFFFFF;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
}
.section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-3 h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    transition: ease all 1s;
}
.section-3 h1 {
    text-align: center;
}

/* Responsivo*/

@media(max-width: 991px) {
    .section-1_div-svg img {
        width: 270px;
    }
    .section-1_div-svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-2_div-svg img {
        width: 250px;
        height: 250px;
    }
    .section-2_div-2 h1 {
        font-size: 30px;
    }
    .section-2 p {
        font-size: 16px;
    }
    .section-2_div-2 div{
        align-items: center;
    }
}

@media(max-width: 767px) {
    .section-1_div-text {
        width: 100%;
    }
    .section-1_div-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
    .section-1_div-svg img{
        width: 60%;
    }
    .section-1_div-1 {
        flex-direction: column;
    }
    .header_botao {
        width: 220px;
        height: 60px;
    }
    .header_botao a {
        font-size: 16px;
    }
    .section-1_div-text h1{
        margin-bottom: 15px;
    }
    .section-2_div-1 {
        flex-direction: column-reverse;
    }
    .section-2_div-2, .section-2_div-svg {
        width: 100% !important;
    }
    .section-2_div-2 h1 {
        text-align: center;
    }
    .section-2_div-svg {
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 575px) {
    .div_header-logo, .logo-svg {
        width: 120px;
    }
    .header_botao {
        width: 180px !important;
        height: 52px !important;
    }
    .header_botao a {
        font-size: 15px !important;
    }
}

@media (max-width: 370px) {
    .div_header-logo, .logo-svg {
        width: 80px; 
    }
    .header_botao {
        width: 130px !important;
        height: 52px !important;
    }
    .header_botao a {
        font-size: 13px !important;
    }
}