.verde_marca {
    color: #57FA62;
}
.verde_marca-bg{
    background-color:#57FA62;
}
.verde_escuro-marca {
    color:#45AD4C;
}
.verde_escuro-marca-bg{
   background-color:#45AD4C;
}
.laranja_marca {
    color: #FA6B4B;
}
.laranja_marca-bg{
    background-color:#FA6B4B;
}
.azul_escuro-marca {
    color: #2394AD;
}
.azul_escuro-marca-bg{
    background-color: #2394AD;
}
.azul-marca {
    color: #3ED8FA;
}
.azul_marca-bg{
   background-color: #3ED8FA; 
}