body {
    background-color: #F5F6FA;
}
a {
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
}
a,p,h1,h2,h3,h4,h5,button, input {
    font-family: 'Poppins', sans-serif;
}
button {
    outline: none;
}
button:focus {
    outline: none;
}
.verde_marca {
    color: #57FA62;
}
.verde_marca-bg{
    background-color:#57FA62;
}
.verde_escuro-marca {
    color:#45AD4C;
}
.verde_escuro-marca-bg{
   background-color:#45AD4C;
}
.laranja_marca {
    color: #FA6B4B;
}
.laranja_marca-bg{
    background-color:#FA6B4B;
}
.azul_escuro-marca {
    color: #009FE3;
}
.azul_escuro-marca-bg{
    background-color: #009FE3;
}
.azul-marca {
    color: #155A9E;
}
.azul_marca-bg{
   background-color: #155A9E; 
}
.bege_marca {
    color:#F5F6FA;
}
.bege_marca-bg {
    background-color: #F5F6FA;
}
.section-1 {
    background-color: #155A9E;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-1_div-1 {
    display: flex;
    justify-content: space-between;
}
.section-1_div-text {
    width: 50%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    transition: ease all 1s;
}
.section-1_div-svg img {
    width: 400px;
    transition: ease all 1s;
}
.section-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-2_div-1 {
    justify-content: space-between;
}
.section-2_div-2 h1{
    color: #155A9E;
    margin-bottom: 50px;
}
.section-2_div-2 img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.section-2_div-svg {
    width: 50%;
    display: flex;
    align-items: center;
}
.section-2_div-svg img {
    width: 420px;
    height: 420px;
}
.section-2_div-2 {
    width: 50%;
}
.section-2 p {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 20px;
}
.div-maodoc-svg, .div-relogio-svg, .div-mao-svg {
    margin-bottom: 32px;
}
.btn-login {
    width: 269px;
    height: 67px;
    background-color: #155A9E;
    border-radius: 33px;
    border: none;
    margin-top: 50px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-login:hover {
    color: #155A9E;
    background-color: #FFFFFF;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
}
.section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-3 h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    transition: ease all 1s;
}
.section-3 h1 {
    text-align: center;
}
.div_form-login form {
    flex-direction: column;
}
.div_login-global {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.btn-login-2 {
    width: 269px;
    height: 67px;
    background-color: #155A9E;
    border-radius: 33px;
    border: none;
    margin-top: 50px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn-login-2:hover {
    color: #FFFFFF;
}
.logo-login img{
    width: 400px;
}

.div_form-login input{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    height: 40px;
}
.div_form-login input:focus{
    border-color: #155A9E;   
    transition: ease all .4s;
}
.link_esqueceu-senha {
    margin-top: 20px;
    text-align: center;
}
.divisor {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 40px 0px;
    text-align: center;
}
.btn_criar-conta {
    width: 269px;
    height: 67px;
    background-color: #45AD4C;
    border-radius: 33px;
    border: none;
    margin-top: 50px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn_criar-conta:hover {
    color: #FFFFFF;
}
.modal-header button {
    border: none;
    margin-top: -50px;
}
.modal-title {
    font-family: 'Poppins', sans-serif;
}
.modal-subtitle {
    color: #606770;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.input-50 {
    width: 49%;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    height: 40px;
} 
.input-50:focus{
    border-color: #155A9E;   
    transition: ease all .4s;   
}
.input-100 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    height: 40px;
}
.input-100:focus {
    border-color: #155A9E;   
    transition: ease all .4s;   
}
.criar-conta_dt-nasc {
    color: #606770;
    font-size: 12px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.select-dia, .select-mes, .select-ano {
    width: 30% !important;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 15px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    height: 40px;
    font-size: 16px;
}
.p_dt-nasc {
    margin-top: 20px;
}
.modal-body a {
    width: 269px;
    height: 67px;
    background-color: #155A9E;
    border-radius: 33px;
    border: none;
    margin-top: 50px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
}
.header-sistema {
    background-color: #155A9E;
    width: 85%;
    height: 70px;
}
.header_ola-sair {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header_ola-sair p {
    margin-bottom: 0px;
    color: #fff;
    margin-right: 30px;
}
.header_ola-sair span {
    color: #57FA62;
}
.header_ola-sair a {
    color: #FFFFFF;
}
.menu-lateral {
    width: 18%;
    height: 100vh;
    background-color: #FFFFFF;
}
.div_menu-header {
    display: flex;
    height: 70px;
}
.div_img-logo-menu {
    margin-top: 50px;
    margin-bottom: 50px;
}
.div_menu-lateral-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    margin-top: 30px;
}
.div_menu-lateral-links a {
    color: #155A9E;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.div_menu-lateral-img-link {
    display: flex;
    margin-bottom: 25px;
    padding-right: 10px;
}
.div_menu-lateral-img-link img {
    margin-right: 10px;
}
.menu-toggle, .btn_menu-toggle {
    display: none;
}
.section-1_cadastrar-doc {
    width: 100%;
    height: 100vh;
    padding-left: 18%;
    padding-right: 1%;
}
.doc-padrao {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    transition: ease all .6s;
}
.card-cpf {
    width: 200px;
    height: 120px;
    background-color: #3257D4;
    border-radius: 10px;
    padding: 10px;
    transition: ease all .6s;
}
.div_tipo-cpf {
    cursor: pointer;
    margin-right: 15px;
}
.card-cpf p {
    color: #fff;
    margin-bottom: 0px;
}
.card-cpf:hover, .div_tipo-rg:hover{
    transform: translateY(-15px);
}
.div_tipos-doc {
    margin-left: 15px;
    display: flex;
}
.div_tipo-rg {
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    transition: ease all .6s;
}
.card-rg {
    width: 200px;
    height: 100px;
    background-color: #406852;
    border-radius: 3px;
    padding: 5px;
}
.div_rg-elementos {
    background-color: #C8E1C2;
    width: 100%;
    height: 100%;
}
.div_rg-elementos p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #8AB592;
    font-size: 11px;
}
.div_rg-elementos img {
    width: 80px;
    height: 70px;
    transform: rotate(90);
}
.div_rg-imgs {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-top: 10px;
    align-items: center;
}
.div_rg-img {
    width: 45%;
    height: 80%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Responsivo*/

@media(max-width: 1290px) {
    .div_img-logo-menu img {
        width: 80%;
    }
    .div_menu-lateral-links a  {
        font-size: 13px;
    } 
}
@media(max-width: 1120px) {
    .menu-lateral {
        display: none;
    }
    .header-sistema {
        width: 100%;
        display: flex;
        padding-right: 8px;
    }
    .menu-toggle {
        display: flex;
        padding-left: 20px;
        height: 100vh;
        padding-left: 0px;
        background-color: #FFFFFF;
        position: absolute;
        width: 50%;
        transition: ease all 1s;
        -webkit-transition:  ease all 1s;
    }
    .div_menu-toggle-logo {
        margin-bottom: 32px;
    }
    .div_menu-toggle-logo img {
        width: 60%;
    }
    .btn_menu-toggle {
        background-color: transparent;
        border: none;
        position: absolute;
        z-index: 999;
        top: 18px;
        left: 15px;
        display: block;
    }
    .div_menu-lateral-links {
        margin-top: 90px;
    }
    .div_menu-lateral-img-link a {
        font-size: 18px;
    }
    .menu-toggle .div_menu-lateral-links {
        height: 100vh;
    }
    .menu-escondido {
        left: -1000px
    }
    .menu-visivel {
        left: 0px
    }
}   

@media(max-width: 991px) {
    .section-1_div-svg img {
        width: 270px;
    }
    .section-1_div-svg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-2_div-svg img {
        width: 250px;
        height: 250px;
    }
    .section-2_div-2 h1 {
        font-size: 30px;
    }
    .section-2 p {
        font-size: 16px;
    }
    .section-2_div-2 div{
        align-items: center;
    }
}

@media(max-width: 767px) {
    .section-1_div-text {
        width: 100%;
    }
    .section-1_div-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
    .section-1_div-svg img{
        width: 60%;
    }
    .section-1_div-1 {
        flex-direction: column;
    }
    .header_botao {
        width: 220px;
        height: 60px;
    }
    .header_botao a {
        font-size: 16px;
    }
    .section-1_div-text h1{
        margin-bottom: 15px;
    }
    .section-2_div-1 {
        flex-direction: column-reverse;
    }
    .section-2_div-2, .section-2_div-svg {
        width: 100% !important;
    }
    .section-2_div-2 h1 {
        text-align: center;
    }
    .section-2_div-svg {
        justify-content: center;
        align-items: center;
    }
    .menu-toggle {
        width: 60%;
    }
}

@media(max-width: 575px) {
    .div_header-logo, .logo-svg {
        width: 120px;
    }
    .header_botao {
        width: 180px !important;
        height: 52px !important;
    }
    .header_botao a {
        font-size: 15px !important;
    }
    .logo-login img {
        width: 100% !important;
    }
    .select-dia, .select-mes, .select-ano {
        width: 100% !important;
    }
    .input-50 {
        width: 100% !important;
    }
    .div_cadastrar-nome {
        flex-wrap: wrap;    
    }
    .menu-toggle {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .div_header-logo, .logo-svg {
        width: 80px; 
    }
    .header_botao {
        width: 130px !important;
        height: 52px !important;
    }
    .header_botao a {
        font-size: 13px !important;
    }
}